////////////////
// VARIABLES //
//////////////

$background-color: #f7f7f7;
$Lowes-Blue: #004792;

///////////////////////
// BODY / UNIVERSAL //
/////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: $background-color;
}

///////////////////////
///// MAIN STYLES ////
/////////////////////

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.main-logo {
    margin: 1rem 0rem 1rem;
    width: 250px;
}

.main-heading {
    font-size: 2.75rem;
    text-transform: uppercase;
    color: $Lowes-Blue;
    margin: 1rem;
}

.heading-tool-belt {
    font-size: 2.75rem;
    text-align: center;
    position: relative;
    bottom: 20px;
    font-weight: 300;
    left: 25px;
    top: 1px
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.appliance-app {
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $Lowes-Blue;
    border: none;
    font-size: 1.25rem;
    color: $background-color;
    transition: 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        background: lighten($Lowes-Blue, 8px);
    }

    &:focus {
        outline: none;
    }
}






///////////////////////
/// MEDIA QUERIES ////
/////////////////////

@media (min-width: 768px) {

    .main-logo {
        width: 350px;
    }

    .main-heading {
        font-size: 4rem;
    }

    .heading-tool-belt {
        font-size: 4rem;
        left: 40px;
    }

    .appliance-app {
        padding: 12px 96px;
    }
}


@media (min-width: 1024px) {

    .main-logo {
        width: 400px;
    }

    .main-heading {
        font-size: 5rem;
    }

    .heading-tool-belt {
        font-size: 5rem;
        left: 60px;
    }

    .appliance-app {
        padding: 12px 112px;
    }
}