////////////////
// VARIABLES //
//////////////

$background-color: #f7f7f7;
$Lowes-Blue: #004792;

///////////////////////
// BODY / UNIVERSAL //
/////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: $background-color;
}

///////////////////////
///// MAIN STYLES ////
/////////////////////

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.main-logo {
    margin: 1rem 0rem 1rem;
    width: 250px;
}

.main-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $Lowes-Blue;
    
}

.main-sub-heading {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    bottom: 5px;
    font-weight: 300;
    left: 5px;
}

.main-heading-granite {
    color: $Lowes-Blue;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-letter {
    padding: 7px 14px;
    margin: 0.25rem 0.5rem;
    font-size: 2rem;
    border: 3px solid $Lowes-Blue;
    color: $Lowes-Blue;
    border-radius: 8px;
    background-color: $background-color;
}

.main-input {
    margin: 1.5rem 0;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background: $background-color;
    border: 3px solid #6b6b6b;
    font-size: 1.5rem;
    color: $Lowes-Blue;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition: 0.3s ease-in-out;

    &:focus {
        border: 3px solid $Lowes-Blue;
        outline: none;
        transform: scale(1.01);
    }
}

.main-button {
    margin-top: 1rem;
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $Lowes-Blue;
    border: none;
    font-size: 1.25rem;
    color: $background-color;
    transition: 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        background: lighten($Lowes-Blue, 8px);
    }

    &:focus {
        outline: none;
    }
}


///////////////////////
/// MEDIA QUERIES ////
/////////////////////

@media (min-width: 768px) {

    .main-logo {
        width: 350px;
    }

    .main-heading {
        font-size: 4rem;
    }

    .main-sub-heading {
        font-size: 4rem;
        left: 0px;
    }

    .main-item-number {
        font-size: 3rem;
    }

    .main-input {
        width: 75%;
    }

    .main-button {
        width: 65%;
        padding: 12px 24px;
    }

    .main-example-text {
        margin-top: 0.75rem;
        font-size: 1rem;
    }

    .main-display-text {
        font-size: 2.5rem;
    }
}


@media (min-width: 1024px) {

    .main-logo {
        width: 400px;
    }

    .main-heading {
        font-size: 5rem;
    }

    .main-sub-heading {
        font-size: 4.25rem;
        left: 40px;
    }

    .main-item-number {
        font-size: 3rem;
    }

    .main-input {
        width: 45%;
    }

    .main-button {
        width: 40%;
        padding: 12px 24px;
    }

    .main-example-text {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .main-display-text {
        font-size: 3rem;
    }
}